doctype html
html
	head
		title Find and Book parking spaces nearby | ParkSpot.in
		meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Book a secure parking slot for short or long term at affordable rates")
		meta(name="keywords" content="parking app, parking spot, parking location, parking slot, parking nearby, parking places, fast, reliable, nearby parking, schedule parking, book parking, prebook parking, rental parkings, reliable parking, safe parking, smart parking, advanced parking, IOT driven parking, bangalore, mumbai, delhi, pune, bengaluru")
		<meta data-rh="true" name="robots" content="noodp, noydir">
		//<meta data-rh="true" property="fb:app_id" content="171344769571964">
		<meta data-rh="true" name="twitter:card" content="app">
		<meta data-rh="true" name="twitter:site" content="@parkspot">
		<meta data-rh="true" name="twitter:creator" content="@parkspot">
		<meta data-rh="true" name="twitter:app:name:ipad" content="ParkSpot">
		<meta data-rh="true" name="twitter:app:id:googleplay" content="com.parkspot.parkspot">
		<meta data-rh="true" name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.parkspot.maya_nagri">
		//<meta data-rh="true" name="google-site-verification" content="xoYVsdp3bXNxwds_Sw1C46aJ_9pJ0tQOXI3bxgBGyfQ">
		//<meta data-rh="true" name="msvalidate.01" content="E44412335167C2135871BD45A0A0B36C">
		<meta data-rh="true" property="og:description" content="Book a secure parking slot for short or long term at affordable rates">
		<meta data-rh="true" property="og:type" content="website">
		<meta data-rh="true" property="og:image" content="https://www.parkspot.in">
		<meta data-rh="true" property="og:site_name" content="parkspot">
		<meta data-rh="true" http-equiv="X-UA-Compatible" content="IE=edge">
		<meta data-rh="true" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		link(rel="icon" href="favicon.ico" sizes="32x32")
		meta(name="title" content="Find and book parking sites near your vicinity")
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
		link(rel="stylesheet" type="text/css" href="styles.css")
		script(src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript")
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-779VHE86MJ")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			
			gtag('config', 'G-779VHE86MJ');
		script.
			function setOptionUser(){
				document.getElementById("options").selectedIndex = 1
			}
			function setOptionOperator(){
				document.getElementById("options").selectedIndex = 0
			}
			$(document).ready(function() {
				// Check for click events on the navbar burger icon
				$(".navbar-burger").click(function() {
				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				$(".navbar-burger").toggleClass("is-active");
				$(".navbar-menu").toggleClass("is-active");
					});
				});
		script.
			function postContact(){
				var url = ""
				var payload = {
					
				}
				$.ajax({
					type: "POST",
					url: url,
					data: payload,
					success: function(data){
						window.location.replace("https://www.parkspot.in/thanks")
					},
					contentType: "application/json",
					dataType: "json"
				});
			}
	body
		.main-holder
			div(class="navbar is-dark is-fixed-top")
				.navbar-brand
					a(class="navbar-item" href=".")
						img(src="psotbrand.png")
					a(class="navbar-item parkspottext is-size-3" href=".") Parkspot
					div.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='psnav')
						span(aria-hidden="true")
						span(aria-hidden="true")
						span(aria-hidden="true")
				.navbar-end.navbar-menu#psnav
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#home") Home
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#services") Services
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#team") Team
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#contact" onclick="setOptionUser()") Book
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#contact" onclick="setOptionOperator()") Rent
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="faq.html") FAQs
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#about") About
					a(class="navbar-item is-size-5 has-text-white parkspottext" href="index.html#contact") Contact Us
					.playstore
						a(class="nabar-item" href="https://play.google.com/store/apps/details?id=com.parkspot.maya_nagri")
							img(src="play.png")
		br
		br
		br
		.mainp
			.content
				p.is-size-1
					| Frequently Asked Questions
			article.message
				.message-header
					p What is ParkSpot ?
				.message-body
					p
						| ParkSpot is a smart parking platform, where you can search and book
						| a parking spot at your desired location or in your vicinity.
						| ParkSpot also supports long term parking and rental parkings.
						| ParkSpot relies on new technology and software that allows you
						| to monitor your vehicle in realtime post parking your vehicle in the
						| parking spot.
			article.message
				.message-header
					p Why do I need to add my vehicle number at the time of booking? Is it safe ?
				.message-body
					p
						| We require your vehicle number just to make the post booking process
						| more convenient. You dont need to wait for a parking operator to just to register
						| your vehicle numbers manually. The systems will detect your car when it enter
						| the parking site and from then you'll get a video stream to monitor your car
						|
						| We dont share your personal details no matter what. We'll keep that our secret.
			article.message
				.message-header
					p How can your platform help me? How safe is your platform ?	
				.message-body
					p
						| The problem that people in urban areas face is, where do they find a parking space?
						| We list the safest parking sites and show you the parking places you can visit.
						| We desire to be the goto place for parking sites. We've used state of the art
						| technologies to solve all your problems regarding the parking site question.
						|
						| We have built the entire platform while pushing security and transparency to the limit.
						| You can monitor your vehicle at realtime for the peace of your mind.
			article.message
				.message-header
					p Does ParkSpot support cashless and no contact bookings ?
				.message-body
					p
						| Yes ParkSpot supports cashless modes of payments and you can book a parking site
						| and park your vehicle at your allocated spot without having to contact a person
						| in person or any other mode. 
					
		footer.footer
				.content.has-text-centered
					.footercontainer
						.containersocial
							.columns.bottomicons.inline
								.column.is-one-third
									a(href="https://play.google.com/store/apps/details?id=com.parkspot.parkspot")
										img(src="playc.png" width="50")
								.column.is-one-third
									a(href="https://www.linkedin.com/company/parkspot-in")
										img(src="linkedin.png" width="50")
								.column.is-one-third
									a(href="https://twitter.com/sud_ambastha")
										img(src="twitter.png" width="50")
						br
						p
						|© 2020 
						strong The Thought Engine 
						|- All rights reserved.



