doctype html
html
	head
		title Find and Book parking spaces nearby | Parkspot.in
		meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Parkspot platform allows user to book/prebook a parking slot for short or long term at affordable rates")
		link(rel="icon" href="favicon.ico" sizes="32x32")
		meta(name="title" content="Find and book parking sites near your visinity")
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
		link(rel="stylesheet" type="text/css" href="styles.css")
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-779VHE86MJ")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			
			gtag('config', 'G-779VHE86MJ');
	body
		.main-holder
			div(class="navbar is-dark yellow is-fixed-top")
				.navbar-brand
					a(class="navbar-item parkspottext is-size-3" href=".") Parkspot.in
				.navbar-end
					a(class="navbar-item is-size-4 parkspottext" href="#home") Home
					a(class="navbar-item is-size-4 parkspottext" href="#services") Services
					a(class="navbar-item is-size-4 parkspottext" href="#team") Team
					a(class="navbar-item is-size-4 parkspottext" href="#about") About
					a(class="navbar-item is-size-4 parkspottext" href="#contact") Contact Us
			div(class="hero is-warning is-halfheight" id="home")
				div(class="hero-head")
					.hero-body
						.columns.is-vcentered
							.column.is-half
								h1.title.has-text-black Parkspot
								br
								p.subtitle.has-text-black-bis
									|Parkspot is a completely automated Secured parking platorm for the new generation 
								p.has-text-black
									| Are you fed up of drifting throught the traffic to find a parking lot in a hit and trial basis ?
									| Try parkspot.in to find/book nearby parking lots along with their availability on given date and time
							.column
								img(class="bannerimg" src="lala.png")
					.hero-foot
			div(class="hero is-black is-fullheight" id="services")
				div(class="hero-head")
				.hero-body
						.columns.is-vcentered
							.column.is-half
								h1.title.has-text-white Join Parkspot platform as a parking operator
								br
								p.subtitle.has-text-black-light
									| Want to reach new customers? 
								p.has-text-white
									| Not getting enough customers? Spending too much on billboards but still not reaching customers? 
									| Try parkspot.in to list your parking sites on our platform for reaching a bigger customer base
							.column
								img(class="bannerimg" src="business.png")
				.hero-foot
			div(class="hero is-warning is-fullheight")
				div(class="hero-head")
					.hero-body
						.columns.is-vcentered
							.column.is-half
								h1.title.has-text-black Join Parkspot as an individual
								br
								p.subtitle.has-text-black-bis
									| Looking for new ways to make money?
								p.has-text-black
									| Try parkspot.in to list/rent your parking space in our platform for extra income.
							.column
								img(class="bannerimg" src="individual.png")
				.hero-foot
			div(class="hero is-black is-fullheight" id="team")
				div(class="hero-head")
					.hero-body
						.columns.is-vcentered
							.column.is-one-fifth
								p.title Our Team
							.column.is-one-fifth
								.card.team
									.card-image
										figure.image.is-128x128
											img(src="team-1.jpg")
									.card-content
										.media
											.media-left
												figure.image.is-48x48
													img(src="github.png")
											.media-content
												p.title.is-4.has-text-black Sudhanshu Kumar Ambastha
												p.subtitle.is-6.has-text-black @arrogant-ant
												
							.column.is-one-fifth
								.card.team
									.card-image
										figure.image.is-128x128
											img(src="team-2.jpg")
									.card-content
										.media
											.media-left
												figure.image.is-48x48
													img(src="github.png")
											.media-content
												p.title.is-4.has-text-black Ishwar Kumar
												p.subtitle.is-6.has-text-black @nextishwar
							.column.is-one-fifth
								.card.team
									.card-image
										figure.image.is-128x128
											img(src="team-3.jpg")
									.card-content
										.media
											.media-left
												figure.image.is-48x48
													img(src="github.png")
											.media-content
												p.title.is-4.has-text-black Nikhil Surya Mukhi
												p.subtitle.is-6.has-text-black @iamfiasco
							.column.is-one-fifth
								.card.team
									.card-image
										figure.image.is-128x128
											img(src="team-4.jpg")
									.card-content
										.media
											.media-left
												figure.image.is-48x48
													img(src="github.png")
											.media-content
												p.title.is-4.has-text-black Shubham Choudhary
												p.subtitle.is-6.has-text-black @schoudary
			div(class="hero is-warning is-fullheight" id="about")
				.hero-head
					.columns.is-vcentered.tengine
						.column-is-half
							img(src="tengine.png")
						.column-is-half
							h1.title.has-text-black The Thought Engine
							br
							p.subsitle.has-text-black
								| We at thought engine solve trivial problems faced by millions of people. 
								| we stive for solutions which brings technology and life closer and accessible
							br
							p.has-text-black
								| "When the need for something becomes imperative, you are forced to find ways of getting or achieving it. - lexico.com"
			.hero.is-fullheight#contact
				.hero-head
					.columns
						.column.is-one-third
							br
							br
							br
							p.title Contact Us
							br
							p.subtitile Location:
							p.has-text-black Norbert Church Road, Off, Kasavanahalli Main Rd, Kasavanahalli, Karnataka 560035

							p.subtitle Email:
							p.has-text-black connect@parkspot.in
							
							p.substitle Call:
							p.has-text-black 7292824305

						.column.is-one-third.map
							br
							br
							br
							br
							br
							br
							iframe(src="https://maps.google.com/maps?q=bhavya%20serene&t=&z=13&ie=UTF8&iwloc=&output=embed" height="300" width="300")
						.column.is-one-third
							br
							br
							br
							br
							br
							.form
								label.label Name
								input(class="input" type="text" placeholder="Enter Name Here")
								label.label Email
								input(class="input" type="text" placeholder="Enter Email id here")
								label.label City
								input(class="input" type="text" placeholder="Bangalore")
								label.label Message
								textarea(class="textarea" placeholder="Enter your suggestions; We are happy to listen")
								br
								button.button.is-link Submit
			footer.footer
				.content.has-text-centered
					p
					|© 2020 
					strong The Thought Engine 
					|- All rights reserved.



