@font-face {
  font-family: "oday";
  src: url("fonts/ONEDAY.ttf");
}
html {
  scroll-behavior: smooth;
}
.yellow {
  color: #ffd000;
}
.main-holder {
  margin: 0 auto;
}
.parkspottext {
  font-family: "oday";
}
.banner {
  margin: 0 auto;
}
.bannerimg {
  transform: translateY(10%);
}
.team {
  transition: transform 0.3s ease-out;
}
.team:hover {
  transform: translate(0, -5px);
}
.tengine {
  transform: translateY(10%);
}
.contact {
  padding: 5%;
}
.fpx {
  height: 50%;
  width: 50%;
}
@media all and (min-width: 900px) {
  .aboutbanner {
    margin: 0% 12% 0% 12%;
  }
}
.inline {
  display: inline;
}
.thanksinline > * {
  display: inline;
}
