doctype html
html
	head
		title Find and Book parking spaces nearby | Parkspot.in
		meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Parkspot platform allows user to book/prebook a parking slot for short or long term at affordable rates")
		link(rel="icon" href="favicon.ico" sizes="32x32")
		meta(name="title" content="Find and book parking sites near your visinity")
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
		link(rel="stylesheet" type="text/css" href="styles.css")
		style.
			.vcenter{
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
			.wrapper{
				margin: 0 auto;
			}
	body
		.wrapper
			.hero.is-fullheight.is-warning
				.hero-head
					.hero-body
						.columns
							.column.is-full.vcenter
								p.title
									| Thankyou for reaching out to us.
								.thanksinline
									p.subtitle
										| Please email your further concerns at 
									a(class="has-text-size" href="mailto:connect@parkspot.in")
										p.subtitle
											| parkspot.in
			footer.footer
				.content.has-text-centered
					p
					|© 2020 
					strong The Thought Engine 
					|- All rights reserved.
