.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 39;
    padding-right: inherit;
    background-color: #ffffff;
}

// desktop version navbar
.primary-nav-inner {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 90rem;
    height: 4.375rem;
}

.company-logo {
    margin-right: 2.5rem;

    a {
        display: inline-flex;

        .ps-icon {
            width: 36px;
            height: 36px;

            @media only screen and (max-width: 1024px) {
                width: 30px;
                height: 30px;
            }
        }

        .ps-text {
            width: auto;
            height: 36px;

            @media only screen and (max-width: 1024px) {
                width: auto;
                height: 30px;
            }

            @media only screen and (max-width: 680px) {
                display: none;
            }
        }
    }
}

.menu-wrapper {
    display: flex;
}

.menu-wrapper-left {
    display: flex;
    flex-grow: 1;

    @media only screen and (max-width: 750px) {
        display: none;
    }

    .menu-item {
        position: relative;
        margin-right: 1.875rem;

        &:hover {
            .menu-item-dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.2s ease-in-out,
                    visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
                    -webkit-transform 0.2s ease-in-out;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1.25rem;
        }

        .menu-title {
            font-weight: 500;

            &::after {
                content: '\276F';
                display: inline-block;
                margin-left: 0.5rem;
                font-size: 0.925rem;
                vertical-align: middle;
                transform: rotate(90deg);
                transition: -webkit-transform 0.2s ease-in-out;
                transition: transform 0.2s ease-in-out;
            }
        }

        span {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }

        .menu-item-dropdown {
            position: absolute;
            top: 2.5rem;
            width: 11rem;
            border: 1px solid var(--primary-color);
            border-radius: var(--border-default);
            background: #ffffff;
            transform: translateY(5px);
            opacity: 0;
            visibility: hidden;

            &::before {
                content: '';
                position: absolute;
                top: -0.5625rem;
                left: 1rem;
                width: 1rem;
                height: 1rem;
                border-top: 1px solid var(--primary-color);
                border-left: 1px solid var(--primary-color);
                transform: rotate(45deg);
                background: #ffffff;
            }

            ul {
                padding: 1.5625rem 1.875rem;
            }

            li {
                margin-bottom: 1.0625rem;
                font-size: 1.0625rem;
                line-height: 1.4375rem;

                a {
                    font-weight: 500;
                    color: #555555;
                }

                a:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.mobile-phone-link {
    display: none;
    margin: 0 auto;

    a {
        font-size: 1.25rem;
        font-weight: 500;
        border-bottom: 2px solid var(--primary-color);
        color: #555555;
    }

    @media only screen and (max-width: 750px) {
        display: block;
    }
}

.menu-wrapper-right {
    display: flex;
    align-items: center;
    margin: 0 1.25rem 0 0;

    p {
        margin: 0 1.25rem 0 0;

        a {
            color: #555555;
        }

        @media only screen and (max-width: 1024px) {
            display: none;
        }
    }

    .login-btn {
        margin: 0 0.625rem 0 0;
    }

    .login-btn,
    .signup-btn {
        font-weight: bold;
    }

    .button {
        @media only screen and (max-width: 750px) {
            display: none;
        }
    }
}

// hamburger for mobile view
.primary-nav-hamburger {
    display: none;
    margin-top: 6px;

    @media only screen and (max-width: 1024px) {
        display: block;
        cursor: pointer;
    }
}

// mobile version navbar
.primary-nav-mobile {
    position: fixed;
    top: 0.625rem;
    right: 0;
    left: 0;
    z-index: 30;
    transform: scale(0);
    transform-origin: calc(100vw - 25px) 0;
    transition: transform 0.5s cubic-bezier(1, 0.07, 0.11, 1);
}

.primary-nav-mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 29;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s cubic-bezier(1, 0.07, 0.11, 1),
        visibility 0.5s cubic-bezier(1, 0.07, 0.11, 1);
}

.primary-nav-mobile--open {
    transform: scale(1);
}

.primary-nav-mobile--open + .primary-nav-mobile-backdrop {
    opacity: 1;
    visibility: visible;
}

.nav-wrapper {
    display: flex;

    .nav-container {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        flex: 0 0 auto;
        width: 100%;
        min-width: 0;
        min-height: 0;
    }
}

.primary-nav-mobile-innner {
    position: relative;
    height: 350px;
    max-height: calc(100vh - 20px);
    border-radius: var(--border-default);
    background-color: #ffffff;
    transition: height 0.3s ease-in-out;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.375rem;
    height: 4.0625rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.menu-slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    .slide-header {
        display: flex;
        align-items: center;
        padding: 0 1.25rem;
        width: 100%;
        height: 4.0625rem;
        flex-direction: row;
        flex-shrink: 0;

        .slide-header-title {
            font-size: 1.225rem;
            line-height: 1.4375rem;
            font-weight: 500;
        }

        .back-button {
            margin-left: -1.25rem;
            padding: 0.25rem 0.9375rem 0 1.25rem;
            height: 3.125rem;
            font-size: 0.9375rem;
            line-height: 3.125rem;
            cursor: pointer;
        }
    }

    .scroll-section {
        overflow-y: auto;
        padding: 0 1.25rem 1.25rem;
        width: 100%;
        height: 100%;

        .scroll-items {
            margin-bottom: 2.5rem;
        }

        .scroll-item {
            position: relative;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: 400;
            border-bottom: 1px solid #bfbfbf;
            text-align: left;

            p {
                display: block;
                padding: 0.875rem 0;
                width: 100%;
                font-weight: 400;
                text-align: left;

                .nav-link {
                    display: block;
                }
            }
        }
    }
}

.menu-mobile-btn {
    margin-bottom: 1rem;
    width: 100%;
}

.active-slide {
    transform: translateX(0);
}

.user-profile {
    position: relative;
    margin-right: 1.875rem;

    &::after {
        position: absolute;
        top: 100%;
        left: 0;
        content: '';
        width: 100%;
        height: 1.25rem;
    }

    &:hover {
        .user-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
                transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        }
    }

    .user-dropdown {
        position: absolute;
        top: 2.75rem;
        left: -6.5rem;
        width: 10rem;
        border: 1px solid var(--primary-color);
        border-radius: var(--border-default);
        background: #ffffff;
        transform: translateY(5px);
        opacity: 0;
        visibility: hidden;

        &::before {
            content: '';
            position: absolute;
            top: -0.5625rem;
            left: 7.25rem;
            width: 1rem;
            height: 1rem;
            border-top: 1px solid var(--primary-color);
            border-left: 1px solid var(--primary-color);
            background: #ffffff;
            transform: rotate(45deg);
        }

        ul {
            padding: 1.5625rem 1.875rem;

            li {
                margin-bottom: 1.0625rem;
                font-size: 1.0625rem;
                line-height: 1.4375rem;

                a {
                    font-weight: 500;
                    color: #555555;
                }

                a:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .user-pic-wrapper {
        margin: 0;
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;

        .user-pic {
            margin: 0;
            padding: 0;
            width: 36px;
            height: 36px;
            border-radius: 100%;
        }
    }
}

// user profile to hide
.login-options {
    @media only screen and (max-width: 1024px) {
        display: none;
    }
}
