:root {
  /* color naming: https://material.io/design/color/the-color-system.html */
  --primary-color: #ffdd57;
  --secondary-color: #0085ad;
  --primary-text:#555;
  
  /* shades */
  --grey-shade: 	#A9A9A9;

  /* border radius */
  --border-default: 9px;
  --border-circle: 1000%;
  
  
  /* typography */
  --regular-font: 400;
  --semi-bold-font: 500;
  --bold-font: 600;
  --sp-size-sm: 0.75rem;
  /* - Line height:*/
    --lh-default:1;
    --lh-small:1.05;
    --lh-para:1.6;

    /* background colors */
    --bg-color-secondary:#F7F8FF ;
}
